/* ----- Themes -----*/
.dark_theme {
    --bg_color: #333F4F;
    --hdr_color: #BBD6DB;
    --main_txt_color: white;
    --second_txt_color: black;
    --dd_box_color: #EFF2FB;
    --link_hover: rgb(255, 115, 0);

    --inc_sum_hdr: #BBDBCF;
    --inc_sum_bg:  #356F5D;
    --inc_sum_bx: #E8FEF6;

    --debt_sum_hdr: #E8DBD0;
    --debt_sum_bg:  #97442D;
    --debt_sum_bx: #FDE2DB;

    --acct_sum_hdr: #BBD6DB;
    --acct_sum_bg:  #336871;
    --acct_sum_bx: #D3F7FD;
}

.light_theme {
    --bg_color: #EFF2FB;
    --hdr_color: #557DA5;
    --main_txt_color: black;
    --second_txt_color: white;
    --link_hover: rgb(0, 13, 255);

    
    --inc_sum_hdr: #BBDBCF;
    --inc_sum_bg:  #356F5D;
    --inc_sum_bx: #E8FEF6;

    --debt_sum_hdr: #E8DBD0;
    --debt_sum_bg:  #97442D;
    --debt_sum_bx: #FDE2DB;

    --acct_sum_hdr: #BBD6DB;
    --acct_sum_bg:  #336871;
    --acct_sum_bx: #D3F7FD;
}



/* ----- Misc ----- */
.space{
    height: 2rem;
}

#test{
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}

#test:hover{
    background-color: #ffcccc;
    width: 200px;
    height: 200px;
    rotate: 180deg;
}


/* ----- Date Box ----- */
.date{
    /* border: 1px solid red;
    transition: all 3s ease-in; */
    display: inline-flex;
    opacity: 1;
    
}

.date_box{
    margin-left: 2rem;
}


/* ----- All boxes on summary tab ----- */
.inc_summary, .debt_summary, .accts_summary{
    box-sizing: border-box;
    
    display: inline-flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: fit-content;
    
    /* border: 1px solid var(--main_txt_color); */
    color: var(--main_txt_color)
}

.summ_box_hdr{
    width: 85%;
    height: 2rem;
    color: var(--second_txt_color);  
}

.summ_box{
    width: 85%;
    height: 10rem;  
}

.summ_box_hdr h3{
    margin: 0rem;
    padding: 0.25rem 0rem 0rem 0.5rem;
}




/* ----- Income Summary Box ----- */
.inc_hdr{
    background-color: var(--inc_sum_hdr);
}

.inc_main_box{
    background-color: var(--inc_sum_bg);
}




/* ----- Debt Summary Box ----- */
.debt_hdr{
    background-color: var(--debt_sum_hdr);
}

.debt_main_box{
    background-color: var(--debt_sum_bg);
}




/* ----- Accounts Summary Box ----- */
.acct_hdr{
    background-color: var(--acct_sum_hdr);
}

.acct_main_box{
    background-color: var(--acct_sum_bg);
}