/* ----- Themes -----*/
.dark_theme {
    --bg_color: rgb(19, 41, 59);
    --hdr_color: rgb(4, 24, 39);

    --bdr_color: white;
    --shdw_color: rgba(167, 171, 178, 0.25);

    --main_txt_color: white;
    --second_txt_color: black;

    --page_color: rgb(161, 170, 179);

    --dd_box_color: #EFF2FB;
    --link_hover: rgb(255, 115, 0);
}

.light_theme {
    --bg_color: #e7ecf1;
    --hdr_color: #86a0bd;
  
    --bdr_color: black;
    --shdw_color: rgba(36, 39, 42, 0.25);

    --main_txt_color: black;
    --second_txt_color: white;

    --page_color: rgb(184, 206, 215);

    --link_hover: rgb(0, 13, 255);
}
/* --------------------------------------------------*/

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}


.pg_container{
    /* border: 1px dashed var(--bdr_color); */
    display: inline-flex;
    flex-wrap: wrap;
    /*flex-direction: column; */
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
}

.page{
    height: 35rem;
    width: 25rem;
    background-color: var(--page_color);
    filter: drop-shadow(0px 10px 10px var(--shdw_color));
    margin: 2rem;
}

/* .pg1{
    animation: 1s ease-out 1s 1 slideInFromLeft;
}

.pg2{
    animation: 1s ease-out 2s 1 slideInFromLeft;
}

.pg2{
    animation: 1s ease-out 3s 1 slideInFromLeft;
} */