@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}


.pg_container{
    /* border: 1px dashed var(--bdr_color); */
    display: inline-flex;
    flex-wrap: wrap;
    /*flex-direction: column; */
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
}

.page{
    height: 35rem;
    width: 25rem;
    background-color: var(--page_color);
    color: var(--main_txt_color);
    filter: drop-shadow(0px 10px 10px var(--shdw_color));
    border: 2px solid var(--bdr_color);
    margin: 2rem;
}

.page a{
    color: var(--main_txt_color);
}

.page:hover{
    filter: grayscale(30%);
    cursor: pointer;
}

/* .pg1{
    animation: 1s ease-out 1s 1 slideInFromLeft;
}

.pg2{
    animation: 1s ease-out 2s 1 slideInFromLeft;
}

.pg2{
    animation: 1s ease-out 3s 1 slideInFromLeft;
} */