/* ----- Themes -----*/
.dark_theme {
    --bg_color: rgb(19, 41, 59);
    --hdr_color: rgb(4, 24, 39);

    --bdr_color: white;
    --shdw_color: rgba(167, 171, 178, 0.25);

    --main_txt_color: white;
    --second_txt_color: black;

    --page_color: rgb(20, 58, 88);
    --page_hvr_color: rgb(20, 58, 88);

    --rsm_pg_color: rgb(24, 38, 49);

    --dd_box_color: #EFF2FB;
    --link_hover: rgb(255, 115, 0);

    --btn_color: rgb(30, 82, 124);
}

.light_theme {
    --bg_color: #e7ecf1;
    --hdr_color: #86a0bd;
  
    --bdr_color: black;
    --shdw_color: rgba(36, 39, 42, 0.25);

    --main_txt_color: black;
    --second_txt_color: white;

    --page_color: rgb(184, 200, 215);

    --rsm_pg_color: rgb(212, 218, 224);

    --link_hover: rgb(0, 13, 255);

    --btn_color: rgb(153, 206, 249);
}



body {
    background-color: var(--bg_color);
    margin: 0px;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.banner {
    /* @keyframes duration | easing-function | delay |
    iteration-count | direction */
    animation: 1s ease-out 0s 1 slideInFromLeft;

    display: inline-flex;
    box-sizing: border-box;
    height: 5rem;
    width: 100%;
    color: var(--main_txt_color);
    background-color: var(--hdr_color);
    border-bottom: 2px solid var(--bdr_color);
    filter: drop-shadow(0px 10px 10px var(--shdw_color));
}

.bann_box2 {
    /* border: 1px white dashed; */
    /* display: inline-flex; */
    font-family: 'Comfortaa', 'Times New Roman', Times, serif;
    text-align: center;
    width: 80%;
    box-sizing: content-box;
}

.bann_box3, .bann_box1{
    /* border: 1px white dashed; */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    box-sizing: content-box;
}

.bann_box3 img, .bann_box1 img{
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.5rem;
}